/* цвет основного текста #757575*/
/* вторичный цвет #212121*/
/* цвет акцента #2196F3*/
/* цвет акцента вторичный #188ce8*/
/* цвет фона #ffffff*/
/* цвет заголовков #000000*/
/* цвет фона главной страницы #2F303A */
/* цвет фона кнопок #F5F4FA*/
/* цвет адреса rgba(255, 255, 255, 0.6)*/
/* цвет тени one rgba(0, 0, 0, 0.1)*/
/* цвет тени two rgba(0, 0, 0, 0.1)*/
/* цвет тени three rgba(0, 0, 0, 0.12)*/
/* цвет фона под фото #e5e5e5*/
/* цвет фона карточки #eeeeee*/
/* цвет линии внизу шапки #ececec*/
/* цвет фона клиентов #AFB1B8*/
/* цвет фона при трансформации rgba(33, 150, 243, 0.9)*/
/* цвет при оверлей #c4c4c4*/ 

:root {
  --primary-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-second: #188ce8;
  --background-color: #ffffff;
  --title-text-color: #000000;
  --background-color-ft: #2f303a;
  --background-color-btn: #F5F4FA;
  --color-opacity: rgba(255,255,255,0.6);
  --color-shadow-one: rgba(0, 0, 0, 0.12);
  --color-shadow-two: rgba(0, 0, 0, 0.14);
  --color-shadow-three: rgba(0, 0, 0, 0.2);
  --color-fon-image: #e5e5e5;
  --color-bgd-card: #eeeeee;
  --border-hr-color: #ececec;
  --color-clients: #AFB1B8;
  --color-bg-transform: rgba(33, 150, 243, 0.9);
  --color-overly: #c4c4c4;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,h2,h3,h4,p,ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: auto;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}
 

.header {
  border-bottom: 1px solid var(--border-hr-color);

}

.header__nav {
  display: flex;
}
.nav {
  display: flex;
  align-items: center;
}

 .nav__logo {
  font-family: Raleway;
  padding-top: 24px;
  padding-bottom: 25px;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  text-decoration: none;
  color: var(--accent-color);
}
span {
  color: var(--title-text-color);
}
a {
  text-decoration: none;
} 
 
/*Навигация без логотипа*/

.nav__links { 
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px; 
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left; 
}

.link-current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: 0;
}

.nav__link-current {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--accent-color);
 
}

.nav__links >.nav__item {
  display: block;
}

.nav__links .nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__font {
  font-weight: 500;
  color: var(--second-text-color);
}

.nav__links .nav__link-current:hover,
.nav__links .nav__link-current:focus {
  
  color: var(--accent-color);
}

.nav__links .nav__link:hover,
.nav__links .nav__link:focus  {
  color: var(--accent-color);
}

/* Почта и тел*/

.nav__contact {  
  display: flex;
  margin-left: auto;
  align-items: center;
   
  font-size: 14px; 
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
}
 
 .nav__contact >.nav__item+.nav__item {
  margin-left: 30px;
}

.nav__mail  {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-post {
  margin-right: 10px;
  fill: currentColor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__mail:hover,
.nav__mail:focus {
  color: var(--accent-color);
}

.nav__tel:hover,
.nav__tel:focus {
  color: var(--accent-color);
}

.nav__tel {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Section Главная*/

.our-strong-form {
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 12px;
color: var(--second-text-color);
}

.usl {
  position: relative;
  display: block;
  height: 24px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  padding-bottom: 20px;
  padding-top: 20px;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-check {
  display: inline-block;
  width: 16px; 
  height: 15px;
  border: 2px solid var(--title-text-color);
  background: var(--background-color);
  border-radius: 2px;
  margin-right: 8px;
  
  
}

.check_input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}   
  
  
.check_input:checked + .icon-check {
  border-color: var(--accent-color);
  background-image: url(../images/icon\ check.svg);
  background-size: contain;
  background-origin: border-box;

}

.span-form {
  color: var(--accent-color);
  text-decoration: underline;
  padding-left: 4px;
}

.form {
display: block;
width: 342px;
}

.form-coment {
  position: relative;
}

.form-place-hol {
resize: none;
display: inline-block;
width: 448px;
height: 96px;  
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
font-weight: 400;
color: rgba(117, 117, 117, 0.5);
padding: 12px 16px;
border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
/* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--background-color);
  background: var(--accent-color);
  margin-top: 30px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: var(--accent-color-second);
}

.form-field {
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-lable {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-input {
  display: block;
  position: relative;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: transparent;
  transition-property: border-color, outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
} 

.form-input:hover + .nm {
 fill: var(--accent-color);
}

.nm {
  position: absolute;
  display: block;
  top: 11px;
  margin-left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: relative;
}

.form-icon input {
  padding-right: 2.5em;
}

.text-field_aicon {
  position: relative;
  margin-top: 4px;
  
}

/*Section Hero*/

.hero {
  padding: 200px 0 200px;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url("../images/fone-hero.jpg");
  background-color: var(--color-overly);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--background-color);
  text-transform: uppercase;
}

.our-projects {
  background-color: var(--background-color-card);
}

.zakaz {
  display: inline-block;
  height: 50px;
  width: 200px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  font-family: inherit;
  color: var(--background-color);
  cursor: pointer;
  background-color: var(--accent-color);
  border: 0ch;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.zakaz:hover  {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color-second);
}
 

/* Section Наши сильные стороны*/

.our-strong-transp {
  position: absolute; 
  width: 1px; 
  height: 1px; 
  margin: -1px; 
  border: 0; 
  padding: 0; 
  white-space: nowrap; 
  clip-path: inset(100%); 
  clip: rect(0 0 0 0); 
  overflow: hidden; 
}

.thumb {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--background-color-btn);
}

.antenna,
.clock,
.diagram,
.astronaut {
  width: 70px;
  height: 70px;
}
 
.our-strong {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.our-strong-h {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--second-text-color);
  text-transform: uppercase;
}

.our-strong-f {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-text-color); 
}

.our-text-p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-text-color);
}

.toge {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px var(--color-shadow-one), 0px 1px 1px var(--color-shadow-two), 0px 2px 1px var(--color-shadow-three);
  border-radius: 0px 0px 4px 4px;
}

.our-strong-ul {
  padding-top: 0;
}

.our-strong-ul>.item-chem:not(:last-child) {
  margin-right: 30px;
  
}
.our-strong-f>.our-text {
  margin-bottom: 10px;
}

.our-jobs>.item:not(:last-child) {
  background-color: var(--background-color);
}

.job-f {
  display: flex;
  justify-content: center;
}

.job-f>.item-t+.item-t {
  margin-left: 30px;
}

.our-jobs>.item+.item {
  margin-left: 30px;
}

.our-text { 
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

/*Section Чем занимаются*/

.univers {
  padding-top: 0;
  padding-bottom: 94px;
}

.thumb-ch {
  position: relative;

}
.label {
  height: 70px; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  background: rgba(47, 48, 58, 0.8);
} 
  
.thumb-ch>.label {
  position: absolute;
  width: 100%;
  bottom: 0;
}

  /*Section Team*/

.icons-team {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.icons-team .item-social:not(:last-child) {
  margin-right: 10px;
}

.icon-social {
  margin: 12px;
}

.link-social-team {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--color-clients);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-team:hover {
  background-color: var(--accent-color);
  fill: var(--background-color);
}

.team-backgroud-color {
 background-color: var(--background-color-btn);
 }

/*Section Наши проекты */

.projects-transp {
  position: absolute; 
  width: 1px; 
  height: 1px; 
  margin: -1px; 
  border: 0; 
  padding: 0; 
  white-space: nowrap; 
  clip-path: inset(100%); 
  clip: rect(0 0 0 0); 
  overflow: hidden; 
}

.projects {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--title-text-color);
}

.item-b:not(:last-child) {
  margin-right: 8px;
}

.button-all {
display: flex;
justify-content: center;
margin-bottom: 50px;
}

.pointer {
  cursor: pointer;
}

.btn {
  display: block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  color: var(--second-text-color);
  background-color: var(--background-color-btn);
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, 
.btn:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
  box-shadow: 0 4px 4px 0 #00000025;
}

/*Section Projects with photo*/

.job-c {
  display: flex; 
  flex-wrap: wrap;
  margin: -15px;
 }

 .cartka {
  display: block;
  position: relative;
  }

  .carta {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  border: 1px solid var(--color-bgd-card) ;
  border-top: none;
  }

.actions {
  position: absolute;
  width: 370px;
  height: 294px;
  top: 0;
  opacity: 0;
  z-index: 1;
  overflow: hidden;
}

.over {
  position: relative;
  display: block; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.p-modal {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--background-color);
  padding: 63px 24px;
  background: var(--color-bg-transform);
}

.actions:hover .over {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cartka:hover .actions {
 opacity: 0.9; 

}
.job-c .cartka:hover {
  box-shadow: 0 4px 4px 0 #00000025;

}

.item-c {
  display: block;
  width: 370px;
  margin: 15px;
}

.special-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2.0;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--title-text-color);
}

.one {
  margin-top: 4px;
} 

.job {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
text-align: left;
color: var(--primary-text-color);
}


/*Section Clients*/


.univer {
  padding-top: 94px;
  padding-bottom: 94px;
}

.icon-logo {
  fill: var(--color-clients);
}

.c-clients {
  display: flex;
  align-items: center;
  justify-content: center;
 }

.client {
  display: flex;
  width: 170px;
  height: 92px; 
  align-items: center;
  justify-content: center;
  text-align: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  
.item-cl+.item-cl {
 margin-left: 30px;
}

.item-cl {
  border-radius: 4px;
  border: 1px solid var(--color-clients);
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-cl:hover {
  border: 1px solid var(--accent-color);
}

.client:hover .icon-logo {
  fill: var(--accent-color);
}

/*Section Footer*/

/*Section Форма*/

.forma {
  margin-left: auto;
}

.submit-f {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
}

.ft-send {
  display: flex;
}

.send {
  display: block;
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.icon-send {
  margin-left: 10px;
  margin-right: 8px;
}

.in-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  /* identical to box height, or 125% */
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 0 15px 16px;

}


/*Socials*/

.soc {
  margin-left: 70px;
}

.socials {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 20px;
}

.icons {
  display: flex;
  justify-content: center;
  list-style: none;
}

.link-social {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--white-background-color);
  background-color: #ffffff10;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-f {
  margin: 12px;
  fill: var(--background-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover {
 background-color: var(--accent-color);
}

.icons .item-social:not(:last-child) {
  margin-right: 10px;
}

/* Логотип и адрес*/

.ft-fx {
  display: flex;
  align-items: baseline;
}

.links-ft>.item-ft:not(:last-child) {
  margin-bottom: 9px;
}

.logo-f {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  text-align: left;
  text-decoration: none;
  color: var(--accent-color);
}

.logo-f {
  width: 145px;
  margin-left: 0px;
  margin-right: 0px;
}

.links-ft {
  display: block;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

.add {
  color: var(--background-color);
}

.opacity {
  color: var(--color-opacity);
}

.underline {
  margin-top: 20px;
  text-decoration: none;
}

.links-ft .linkf:hover,
.links-ft .linkf:focus { 
  color: var(--accent-color);
}

.foot-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-ft);
  z-index: -1;
}

.logo-f > span {
  color: var(--background-color);
}

/* Modal window*/


.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 20;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0; 
  pointer-events: none;
}

.zakaz:hover,
.zakaz:focus .modal {
  opacity: 1;
}

.modal {
  position: absolute;
  padding: 40px;
  width: 528px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.pos {
  position: fixed;
  right: 0;
  top: 0;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 8px;
  margin-top: 8px;
  background: var(--background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  align-items: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover,
.icon-close:focus {
 fill: var(--accent-color);
}

.pos:hover,
.pos:focus.modal {
  opacity: 0;
}

.pos:hover,
.pos:focus {
  opacity: 1; 
}

  

