
.contact {  
  
    display: flex;
    align-items: center;
    font-size: 14px; 
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
  }